<div class="row justify-content-center row-cols-auto">
  <% @trips.each do |trip| %>
    <div class="col p-4">
      <div class="card p-3" style="background-color: rgba(245, 245, 245, 0); border-color: rgba(245, 245, 245, 0.5)">
        <% case trip.destination %>
        <% when "Pluton" %>
          <div class="fiche--pluto card-image">
        <% when "Mercure" %>
          <div class="fiche--mercury">
        <% when "Venus" %>
          <div class="fiche--venus">
        <% end %>
            <div class="planet__atmosphere">
              <div class= "planet__surface"></div>
            </div>
        </div>
        <div class="card-body p-3">
          <h5 class="card-title text-center border-bottom border-dark p-3"><%= trip.destination %></h5>
          <p class="card-text"> depArt: <%= trip.departure_date %></p>
          <p class="card-text"> arRivée: <%= trip.arrival_date %></p>
          <p class="card-text"> priX: <%= trip.price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
