.container-show{
  display: flex;
  justify-content: center;
}
.fiche-show{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 6%;
}
.card-show{
  width: 95%;
}
.fiche-text-show{
  max-width: 70%;
}

