<div class="container m-4">
  <div class="row justify-content-md-center">
    <div class="col">

    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>My Bookings</h1>
    </div>
  </div>
  <% @bookings.each do |booking| %>
    <%= booking.trip.destination %>
  <% end %>
</div>
