.footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  padding: 0px 15px;
  box-shadow: 0px 0px 70px rgb(182, 182, 182);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #fff;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
